@{
    ViewBag.Title = "分配用户";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var DepartmentId = GetQuery('DepartmentId');          //部门主键
    var ObjectId = GetQuery('ObjectId');                  //对象主键
    var Category = GetQuery('Category');                  //分类
    $(function () {
        GetList();
    })
    //加载用户
    function GetList() {
        getAjax("/CommonModule/Permission/MemberList", { DepartmentId: DepartmentId, ObjectId: ObjectId, Category: Category }, function (data) {
            $(".sys_spec_text").html(data);
        });
        $("#MemberList li").click(function () {
            if (!$(this).attr('disabled')) {
                if (!!$(this).hasClass("selected")) {
                    $(this).removeClass("selected");
                    $(this).find('a').removeClass("a_selected");
                } else {
                    $(this).addClass("selected").siblings("li");
                    $(this).find('a').addClass("a_selected");
                }
            }
        });
        //自定义复选框 全选/反选
        $("#CheckButton").click(function () {
            if (!!$(this).hasClass("checkAllOff")) {
                $(this).attr('title', '反选');
                $(this).text('反选');
                $(this).attr('class', 'checkAllOn');
                $('.sys_spec_text li').addClass('selected');
            } else {
                $(this).attr('title', '全选');
                $(this).text('全选');
                $(this).attr('class', 'checkAllOff');
                $('.sys_spec_text li').removeClass('selected');
            }
        });
        //模糊查询用户（注：这个方法是理由jquery查询）
        $("#txt_Search").keyup(function () {
            if ($(this).val() != "") {
                var Search = $(this).val();
                window.setTimeout(function () {
                    $(".sys_spec_text li")
                     .hide()
                     .filter(":contains('" + (Search) + "')")
                     .show();
                }, 200);
            } else {
                $(".sys_spec_text li").show();
            }
        }).keyup();
    }
    //保存事件
    function AcceptClick() {
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var UserId = ""; $('.sys_spec_text .selected a').each(function () { UserId += $(this).attr('id') + ","; });
            var postData = { UserId: UserId, ObjectId: ObjectId, Category: Category, }
            AjaxJson("/CommonModule/Permission/AuthorizedMember", postData, function (data) {
                Loading(false);
                tipDialog(data.Message, 3, data.Code);
                closeDialog();
            });
        }, 200);
    }
</script>
<div class="note-prompt" style="margin: 1px;">
    温馨提示：选中复选框即可授予相应权限，取消选中则回收相应权限。
</div>
<div class="border" style="margin: 1px;">
    <div class="btnbartitle">
        <div style="float: left">
            归属用户；用户查询：<input id="txt_Search" type="text" class="btnbartitleinput" style="width: 120px;" />
        </div>
        <div style="float: right">
            <label id="CheckButton" class="checkAllOff" title="全选">全选</label>
        </div>
    </div>
    <div class="ScrollBar" id="MemberList" style="height: 225px;">
        <ul class="sys_spec_text">
        </ul>
    </div>
</div>

