<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--框架必需start-->
    <link href="~/Content/Styles/learunui-framework.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/learunui-framework.js"></script>
    <!--框架必需end-->
    <!--jqgrid表格组件start-->
    <script src="~/Content/Scripts/jqgrid/jquery-ui-custom.min.js"></script>
    <script src="~/Content/Scripts/jqgrid/grid.locale-cn.js"></script>
    <link href="~/Content/Scripts/jqgrid/css/jqgrid.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jqgrid/jqGrid.js"></script>
    <!--表格组件end-->
    <!--树形组件start-->
    <link href="~/Content/Scripts/tree/tree.css" rel="stylesheet" />
    <script src="~/Content/Scripts/tree/tree.js"></script>
    <!--树形组件end-->
    <!--布局组件start-->
    <script src="~/Content/Scripts/layout/splitter.js"></script>
    <!--布局组件end-->
    <!--日期组件start-->
    <script src="~/Content/Scripts/datepicker/WdatePicker.js"></script>
    <!--日期组件start-->
    <!--表单验证组件start-->
    <script src="~/Content/Scripts/validator/learunui-validator.js"></script>
    <!--表单验证组件end-->
    <script type="text/javascript">
        $(document).ready(function () {
            Loadlayout();
        });
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
