<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>叠加条形图</title>
    <!--框架必需start-->
    <link href="~/Content/Styles/learunui-framework.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/learunui-framework.js"></script>
    <!--框架必需end-->
    <!--第三方统计图start-->
    <script src="~/Content/Scripts/highcharts/highcharts.js"></script>
    <!--第三方统计图end-->
    <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '营养含量'
                },
                xAxis: {
                    categories: ['苹果', '橙子', '梨', '葡萄', '香蕉']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '营养含量'
                    }
                },
                legend: {
                    backgroundColor: '#FFFFFF',
                    reversed: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: [{
                    name: '维生素A',
                    data: [5, 3, 4, 7, 2]
                }, {
                    name: '维生素B',
                    data: [2, 2, 3, 2, 1]
                }, {
                    name: '维生素C',
                    data: [3, 4, 4, 2, 5]
                }]
            });
        });
    </script>
</head>
<body>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
</html>
