@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>技术支持</title>
    <link href="~/Content/Styles/le66arunui-framework.css" rel="stylesheet" />
</head>
<body style="background: url(~/Content/Images/Support.jpg)  no-repeat right 0px; margin-top: 1px;">
    <div style="margin: 10px;">
        <div style="margin: 20px; width:300px">
            <div title="QQ热线" style="width: 100px; height: 70px; line-height: 107px; margin: 5px; float: left; text-align: center; cursor: pointer;">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=8124316372&site=qq&menu=yes" target="_blank">
                    <img src="~/Content/Images/Support_qq.png" style="border: 0px;" /></a>
            </div>
            <div title="QQ热线" style="width: 100px;  height: 70px; line-height: 107px; margin: 5px; float: left; text-align: center; cursor: pointer;">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=4053722956&site=qq&menu=yes" target="_blank">
                    <img src="~/Content/Images/Support_qq.png" style="border: 0px;" /></a>
            </div>
            <div title="QQ热线" style="width: 100px; height: 70px; line-height: 107px; margin: 5px; float: left; text-align: center; cursor: pointer;">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=7945364939&site=qq&menu=yes" target="_blank">
                    <img src="~/Content/Images/Support_qq.png" style="border: 0px;" /></a>
            </div>
        </div>
        <div style="position: absolute; top: 100%; margin-top: -70px; width: 97%;">
            <h1 style="color: #666; font-size: 20px; font-family: Microsoft Yahei; padding-bottom: 2px;">全国统一服务热线：400-8888-888</h1>
            <p style="color: #666; font-size: 12px;">
                移动电话：1850112107860（佘先生）
            </p>
        </div>
    </div>
</body>
</html>
