@{
    ViewBag.Title = "应用配置";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
</script>
<div class="bd" style="border-bottom: none; margin-top: 1px; margin-bottom: 1px;">
    <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
        <div class="tab_list_top" style="position: absolute">
            <div id="TabViewBarameter" class="tab_list bd actived" onclick="Tabchange('ViewBarameter')">站点设置</div>
            <div id="TabXmlFormat" class="tab_list bd" onclick="Tabchange('XmlFormat')">授权信息</div>
            <div id="TabXmlFormat111" class="tab_list bd" onclick="Tabchange('XmlFormat')">数据库信息</div>
        </div>
    </div>
</div>

