@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="border" style="margin-top:100px; margin-left:auto;margin-right:auto; width:450px; height:200px; border-radius:5px;box-shadow:0 0 10px #ccc;">
    <div style="height:82px;line-height:82px;text-align:center;">
        <h1 style="color: #666; font-size: 20px; font-family: Microsoft Yahei;">免责声明</h1>
    </div>
    <div style="padding:20px; padding-top:0px; color: #666; font-size: 14px;line-height:32px;">
        本章节用到的第三方组件不属于LR-FDMS产品，只用于介绍第三方组件如何在LR-FDMS框架中使用。如果对这些组件感兴趣，请使用正版。 
    </div>
</div>