<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：数据库连接相关配置 ================== -->
  <!--默认数据库软件类型：Oracle,SqlServer,MySql,Access,SQLite-->
  <add key="ComponentDbType" value="SqlServer" />
  <!-- 连接字符串是否加密-->
  <add key="ConStringEncrypt" value="false" />
  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
  <!-- 系统默认登录账户 -->
  <add key="CurrentUserName" value="System" />
  <!-- 系统默认登录密码 -->
  <add key="CurrentPassword" value="4A7D1ED414474E4033AC29CCB8653D9B" />
  <!-- 是否启动服务器缓存-->
  <add key="IsCache" value="true" />
  <!-- 服务器缓存设置时间（分钟）-->
  <add key="TimeCache" value="5" />
  <!-- 最大在线用户数量限制 -->
  <add key="OnLineLimit" value="200" />
  <!-- 允许重复登录,多人用同一帐号同时登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- ================== 3：系统性的参数配置 ================== -->
  <!-- 软件是否试用 -->
  <add key="IsRegistration" value="false" />
  <!-- 软件注册码 -->
  <add key="RegistrationCode" value="2A1B132C0E64FA299B014B39F7DE5C2F" />
  <!-- 当前客户公司名称 -->
  <add key="CustomerCompanyName" value="信息技术有限公司" />
  <!-- 软件名称 -->
  <add key="SoftName" value="LeaRun.信息化快速开发框架" />
  <!-- 当前软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 联系我们信息 -->
  <add key="Contact" value="QQ：100000;Email：100000@qq.com;" />
  <!-- 软件许可证编号 -->
  <add key="Licence" value="NO:2013101712345678" />
  <!-- ================== 4：系统邮件错误报告反馈相关 ================== -->
  <!-- 软件的错误报告发给谁 -->
  <add key="ErrorReportTo" value="403722956@qq.com,1020344464@qq.com" />
  <!-- 发出错误邮箱的地址 -->
  <add key="ErrorReportMailUserName" value="100000@qq.com" />
  <!-- 发出错误邮箱的密码 -->
  <add key="ErrorReportMailPassword" value="E62C963F2C098F7BD6B2B3E4812A49DD" />
  <!-- 发出错误邮箱的名称 -->
  <add key="ErrorReportMailName" value="信息技术有限公司" />
  <!-- 发出错误邮箱设置邮箱主机 -->
  <add key="ErrorReportMailHost" value="smtp.exmail.qq.com" />
</appSettings>