<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 默认数据库软件类型：Oracle,SqlServer,MySql,Access,SQLite-->
  <add key="ComponentDbType" value="SqlServer" />
  <!-- 连接字符串是否加密-->
  <add key="ConStringDESEncrypt" value="false" />
  <!-- 代码生成器连接数据源模式：DataBase、PowerDesigner-->
  <add key="CodeMaticMode" value="DataBase" />
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
  <!-- 系统默认登录账户，不能蒋账户修改  -->
  <add key="CurrentUserName" value="System" />
  <!-- 系统默认登录密码,密码是MD5 -->
  <add key="CurrentPassword" value="7f138a09169b250e9dcb378140907378" />
  <!--4a7d1ed414474e4033ac29ccb8653d9b-->
  <!-- 是否启动服务器缓存-->
  <add key="IsCache" value="true" />
  <!-- 服务器缓存设置时间（分钟）-->
  <add key="TimeCache" value="5" />
  <!-- 最大在线用户数量限制 -->
  <add key="OnLineLimit" value="200" />
  <!-- 允许重复登录,多人用同一帐号同时登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- IP限制验证 -->
  <add key="VerifyIPAddress" value="false" />
  <!-- ================== 3：系统性的参数配置 ================== -->
  <!-- 软件是否试用 -->
  <add key="IsRegistration" value="false" />
  <!-- 软件注册码 -->
  <add key="RegistrationCode" value="2a1b132c0e64fa299b014b39f7de5c2f" />
  <!-- 当前客户公司名称 -->
  <add key="CustomerCompanyName" value="上海力软信息技术有限公司" />
  <!-- 软件名称 -->
  <add key="SoftName" value="LeaRun.信息化快速开发框架" />
  <!-- 当前软件版本 -->
  <add key="Version" value="4.1" />
  <!-- 联系我们信息 -->
  <add key="Contact" value="QQ：8124315372;Email：8124313572@qq.com;" />
  <!-- 软件许可证编号 -->
  <add key="Licence" value="NO:2013101712345678" />
  <!-- ================== 4：系统邮件错误报告反馈相关 ================== -->
  <!-- 软件的错误报告发给谁 -->
  <add key="ErrorReportTo" value="4037252956@qq.com,10203445464@qq.com" />
  <!-- 发出错误邮箱的地址 -->
  <add key="ErrorReportMailUserName" value="81243137552@qq.com" />
  <!-- 发出错误邮箱的密码 -->
  <add key="ErrorReportMailPassword" value="E62C963F2C098F7BD6B2B3E4812A49DD" />
  <!-- 发出错误邮箱的名称 -->
  <add key="ErrorReportMailName" value="上海力软信息技术有限公司" />
  <!-- 发出错误邮箱设置邮箱主机 -->
  <add key="ErrorReportMailHost" value="smtp.exmail.qq.com" />
</appSettings>