@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<style>
    .frm {
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

        .frm th {
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            background-color: #fff;
            height: 27px;
            line-height: 27px;
            white-space: nowrap;
            width: 120px;
            font-weight: bold;
            text-align: left;
            padding-left: 10px;
        }

        .frm td {
            width: auto;
            background-color: #fff;
            height: 27px;
            line-height: 27px;
            border-bottom: 1px solid #ccc;
            padding: 2px;
        }
</style>
<form id="form1" >
    <br />
    <br />
    <table border="0" cellpadding="0" cellspacing="0" class="frm" style="width: 800px;" align="center">
        <tr>
            <td colspan="3" style="text-align: center; background-color: #F7F7F7; height: 50px;">
                <h1 style="font-size: 18px">LeaRun.信息化快速开发框架 - 系统信息</h1>
            </td>
        </tr>
        <tr>
            <th>公司名称：
            </th>
            <td>信息技术有限公司
            </td>
        </tr>
        <tr>
            <th>软件名称：
            </th>
            <td>LeaRun.信息化快速开发框架
            </td>
        </tr>
        <tr>
            <th>版权所有：
            </th>
            <td>信息技术有限公司
            </td>
        </tr>
        <tr>
            <th>软件版本：
            </th>
            <td>4.1</td>
        </tr>
        <tr>
            <th>操作系统名称：
            </th>
            <td>windows server 2003</td>
        </tr>
        <tr>
            <th>HTTP服务器软件：
            </th>
            <td>IIS 6.0</td>
        </tr>
        <tr>
            <th>数据库软件：
            </th>
            <td>SqlServer 2005 开发版 （（由微软公司正版授权））</td>
        </tr>
        <tr>
            <th>软件路径：
            </th>
            <td>C:\Program Files\LeaRun</td>
        </tr>
        <tr>
            <th>授权用户数：
            </th>
            <td>50</td>
        </tr>
        <tr>
            <th>授权MAC地址：
            </th>
            <td>5C-63-BF-2A-CB-58,C0-14-3D-C1-1A-27</td>
        </tr>
        <tr>
            <th>授权产品代码：
            </th>
            <td>NO:2013101712345678</td>
        </tr>
        <tr>
            <th>软件授权：
            </th>
            <td>尚未授权</td>
        </tr>
    </table>
</form>
