@{
    ViewBag.Title = "执行SQL语句命令";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {


    });
</script>
<div id="TopPanel">
    <div class="topline leftline rightline QueryArea" style="margin: 1px; margin-bottom: 0px;">
        
    </div>
</div>
<div id="BottomPanel">
</div>
